@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
    font-size: 18px;
    background: linear-gradient(270deg, #202020, #16191a, #1a2527, #23373b);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
    color: #ffffff;
}

h1, h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
    color: #e4a90b;
}

h2 {
    font-size: 2em;
    margin-bottom: .4em;
}

.index-content {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.talk-entry {
    margin-bottom: 1em;
    transition: all .3s ease-in-out;
}

.talk-entry:hover {
    transform: scale(1.05);
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #dddddd;
}
